<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color_content_bg</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>240</string>
		<key>g</key>
		<string>239</string>
		<key>b</key>
		<string>237</string>
	</dict>
	<key>color_title_bar_bg</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>1</string>
		<key>g</key>
		<string>113</string>
		<key>b</key>
		<string>198</string>
	</dict>
	<key>color_amount_item_bg</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>255</string>
		<key>g</key>
		<string>245</string>
		<key>b</key>
		<string>229</string>
	</dict>
	<key>color_btn_confirm</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>255</string>
		<key>g</key>
		<string>153</string>
		<key>b</key>
		<string>2</string>
	</dict>
	<key>color_btn_confirm_focus</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>246</string>
		<key>g</key>
		<string>148</string>
		<key>b</key>
		<string>50</string>
	</dict>
	<key>color_btn_confirm_disable</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>210</string>
		<key>g</key>
		<string>210</string>
		<key>b</key>
		<string>210</string>
	</dict>
	<key>color_btn_confirm_text</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>240</string>
		<key>g</key>
		<string>240</string>
		<key>b</key>
		<string>240</string>
	</dict>
	<key>color_btn_sms</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>255</string>
		<key>g</key>
		<string>255</string>
		<key>b</key>
		<string>255</string>
	</dict>
	<key>color_btn_sms_focus</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>200</string>
		<key>g</key>
		<string>200</string>
		<key>b</key>
		<string>200</string>
	</dict>
	<key>color_btn_sms_disable</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>210</string>
		<key>g</key>
		<string>210</string>
		<key>b</key>
		<string>210</string>
	</dict>
	<key>color_btn_sms_text</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>80</string>
		<key>g</key>
		<string>80</string>
		<key>b</key>
		<string>80</string>
	</dict>
	<key>color_btn_switch</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>246</string>
		<key>g</key>
		<string>148</string>
		<key>b</key>
		<string>2</string>
	</dict>
	<key>color_btn_switch_focus</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>251</string>
		<key>g</key>
		<string>251</string>
		<key>b</key>
		<string>50</string>
	</dict>
	<key>color_btn_switch_text</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>240</string>
		<key>g</key>
		<string>240</string>
		<key>b</key>
		<string>240</string>
	</dict>
	<key>color_label_bank_title</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>240</string>
		<key>g</key>
		<string>240</string>
		<key>b</key>
		<string>240</string>
	</dict>
	<key>color_label_amount</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>218</string>
		<key>g</key>
		<string>95</string>
		<key>b</key>
		<string>25</string>
	</dict>
	<key>color_label_amount_title</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>80</string>
		<key>g</key>
		<string>80</string>
		<key>b</key>
		<string>80</string>
	</dict>
	<key>color_tf</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>80</string>
		<key>g</key>
		<string>80</string>
		<key>b</key>
		<string>80</string>
	</dict>
	<key>color_label_common_title</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>80</string>
		<key>g</key>
		<string>80</string>
		<key>b</key>
		<string>80</string>
	</dict>
	<key>color_service_phone</key>
	<dict>
		<key>a</key>
		<string>255</string>
		<key>r</key>
		<string>1</string>
		<key>g</key>
		<string>113</string>
		<key>b</key>
		<string>198</string>
	</dict>
</dict>
</plist>
