<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>string_btn_sms</key>
	<string>获取验证码</string>
	<key>string_btn_confirm</key>
	<string>立即支付</string>
	<key>string_btn_switch</key>
	<string>更换卡号</string>
	<key>string_tf_creditcardno</key>
	<string>信用卡卡号</string>
	<key>string_tf_debitcardno</key>
	<string>储蓄卡卡号</string>
	<key>string_tf_validate</key>
	<string>卡正面有效期，如06/15输入0615</string>
	<key>string_tf_cvn2</key>
	<string>信用卡背面签名栏后三位</string>
	<key>string_tf_pwd</key>
	<string>6位交易密码</string>
	<key>string_tf_mobileid</key>
	<string>银行预留手机号码</string>
	<key>string_tf_vercode</key>
	<string>短信验证码</string>
</dict>
</plist>
